.container__semitransparent {
  visibility: hidden;
  opacity: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: #000000b7;
  border-radius: 10px;
  position: fixed;
  transition: visibility 0s linear 0.3s, opacity 0.5s linear;
}
